@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './utils/utilities';


// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  background-color: $color1;
  color: $neutral-color-1;
}

.container__main {
  padding: 5.0625rem 1.5rem;
}

.main__profile {
  background-color: $color2;
  border-radius: 15px;
}

.profile__header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: $color3;
  border-radius: 15px;
  padding: 35px 39px 34px 32px;
  img {
    max-width: 4rem;
    border: 3px solid $neutral-color-1;
    border-radius: 50%;
  }
}

.profile__name {
  font-weight: 300;
  font-size: map-get($fonts, "$medium");
}

.profile__report {
  font-size: map-get($fonts, "$small");
  color: $color4;
}

.list__item {
  position: relative;
}


.background {
  background-color: #FF8B64;
  width: 100%;
  img {
    margin-left: auto;
  }
}